<div style="background-image:url(../../static/image/night.jpg); width:100%; background-size: cover;">
    <h2 class="d-flex justify-content-center text-light py-5">Khách hàng bình chọn</h2>
    <div class="pt-2 d-flex justify-content-around">
        <img src="../../static/image/steel.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
        <img src="../../static/image/rocks.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
        <img src="../../static/image/woods.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
        <img src="../../static/image/lightning.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
    </div>
    <div class="py-5 d-flex justify-content-around">
        <img src="../../static/image/steel.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
        <img src="../../static/image/rocks.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
        <img src="../../static/image/woods.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
        <img src="../../static/image/lightning.jpg" class="col-md-2 mx-5 mb-5" style="border: 5px solid white; border-radius: 5px; height: 180px">
    </div>
</div>
