<div class="bg-white mt-5">
    <h3 class="d-flex justify-content-center">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h3>
    <br>
    <h5 class="d-flex justify-content-center" style="font-family: 'Lobster', cursive;">"Chúng tôi ở đây là để giúp bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</h5>
    <div class="d-flex my-5 justify-content-around">
        <a href="#" class="btn btn-lg active col-md-5" role="button" aria-pressed="true" style="background-image: url(../../static/image/female.jpg); height: 245px;"><p class="d-flex justify-content-end text-light font-weight-bold">Bạn là Nữ</p></a>
        <a href="#" class="btn btn-lg active col-md-5" role="button" aria-pressed="true" style="background-image: url(../../static/image/male.jpg); height: 245px;"><p class="d-flex text-light font-weight-bold">Bạn là Nam</p></a>
    </div>
</div>