.font-indie{
    font-family: 'Indie Flower', cursive;
}

.font-gamja{
    font-family: 'Gamja Flower', cursive;
}

.font-lobster{
    font-family: 'Lobster', cursive;
}

.mb-200px{
    margin-bottom: 200px;
}

.mb-50px{
    margin-bottom: 50px;
}
