<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Thêm thông tin mới</h1>
    <form method='post'>
        <label>Tên</label>
        <br>
        <input type="text" name="name">
        <br>
        <label>Năm sinh</label>
        <br>
        <input type="text" name="yob">
        <br>
        <br>
        <label>Giới tính</label>
        <br>
        <input type="radio" name="gender" value="1"> Nam
        <input type="radio" name="gender" value="0"> Nữ
        <br>
        <br>
        <label>Chiều cao (cm)</label>
        <br>
        <input type="text" name="height">
        <br>
        <label>Số điện thoại</label>
        <br>
        <input type="text" name="phone">
        <br>
        <label>Địa chỉ</label>
        <br>
        <input type="text" name="address">
        <br>
        <label>Trạng thái</label>
        <br>
        <input type="radio" name="status" value="Bận"> Bận
        <input type="radio" name="status" value="Rảnh"> Rảnh
        <br>
        <label>Mô tả</label>
        <br>
        <input type="text" name="description">
        <br>
        <label>Chỉ số</label>
        <br>
        <input type="text" name="measurements">
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>