<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Đăng ký tài khoản</h1>
    <form method="post">
        <label>Full name:</label>
        <input type="text" name="fullname">
        <br><br>

        <label>Email:</label>
        <input type="text" name="email">
        <br><br>

        <label>Username:</label>
        <input type="text" name="username">
        <br><br>
    
        <label>Password:</label>
        <input type="password" name="password">
        <br><br>
    
        <input type="submit" value="Create">
    </form>
</body>
</html>